.current_menu

# Autokey

/stow/autokey/.config/autokey/autokey.json
/stow/autokey/.config/autokey/autokey.json~
/stow/autokey/.config/autokey/autokey.log
/stow/autokey/.config/autokey/autokey.pid

# Backlight

/stow/backlight/.config/backlight/_brightness
/stow/backlight/.config/backlight/_output
